[Desktop Entry]
Name=Minus Games Client
Exec=minus_games_gui
Type=Application
Icon=io.github.accessory.minus_games_client
Categories=Game
Terminal=true