[Desktop Entry]
Name=Minus Games Client
Exec=minus_games_client menu
Type=Application
Icon=io.github.accessory.minus_games_client
Categories=Game
Terminal=true
StartupWMClass=minus_games_gui