[Desktop Entry]
Name=Minus Games Client
Exec=run.sh
Type=Application
Icon=io.github.accessory.minus_games_client
Categories=Game
StartupWMClass=minus_games_gui